<div {{ attributes }}>
    {{ form_start(form, {
        attr: {
            'data-action': 'live#action',
            'data-action-name': 'prevent|save'
        }
    }) }}
        {{ form_row(form.name) }}
        {{ form_row(form.email) }}
        {{ form_row(form.comment) }}

        <button>Save</button>
    {{ form_end(form) }}
</div>
